<header class="toolbar">
  <div class="left header-item">
    <button aria-label="Menu">
    </button>
    <h1>Geneology</h1>
  </div>
  <div class="center header-item">
    <form class="search-form">
        <input #input type="text" matInput placeholder="Search" autocomplete="off">
        <button (click)="search(input.value.toString())">search</button>
    </form>
    <button aria-label="Voice search">
    </button>
  </div>
  <div class="right header-item">
    <button aria-label="Create">
    </button>
    <button aria-label="Apps">
    </button>
    <button aria-label="Notifications" color="accent">
    </button>
    <button aria-label="Profile" color="primary">
    </button>
  </div>
</header>
<div class="main">
  <router-outlet></router-outlet>
</div>
